
    .button {
      position: relative;
      width: 400px;
      height:90px;
      margin-top: 10px;
      margin-bottom:10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color:#A7A7A7;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
      overflow: hidden;

    }

    button:hover {
      background-color: #05cdfa;
    }

    button::before,
    button::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #ffffff;
      transition: width 0.3s ease-in-out;
    }

    button::before {
      top: 0;
      left: 0;
    }

    button::after {
      bottom: 0;
      right: 0;
    }

    button:hover::before,
    button:hover::after {
      width: 100%;
    }


    .container {
      display: flex; /* Flex qatori */
      justify-content: space-around; /* Elementlarni o'rtada joylashtirish */
      margin-top:100px;
      height:300px;
    }


    .chiroyliDiv {

      padding: 5px; /* Elementning ichki paddingi */
      margin: 10px; /* Elementlar orasidagi bo'sh joy */
      border-radius: 10px; /* Radiusli qirrali joylashgan qismi */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Varag'li yorug'lik */
      background-color: #ffffff;
      width:400px;


    }
    .chiroyliDiv:hover{
      transform:scale(1.05);

    }


    .image{
      width: 400px;
      height: 200px;

    }

