{% extends 'base.html '%}
{% block content %}
<style>
    body {
        background-color:111;
    }

    .img {
        margin-top: 10px;
        margin-left: 100px;
        width: 600px;
        height: 400px;
    }

    .vertical-text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150vh;
    }

    .vertical-text {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-family: 'Pacifico', cursive;
        color: red;
        font-size: 2em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .horizontal-container {
        display: flex;
        align-items: center;
        height: 600px;
        padding: 20px;
        background-color: white;
        margin-top: 5px;
        position: relative; /* qo'shilgan qismi */
    }

    .product-detail {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: #7B7979;
        border: 1px solid #7B7979;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 200px;
    }

    .product-detail img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .product-info {
        margin-top: 20px;
    }

    .product-info p {
        margin-bottom: 10px;
    }
    .mahsulot_rasm{
        width: 150px;
        height: 70px;
        margin-top: 20px;
        margin-left: 10px;
    }


.mahsulot_rasm:hover {
  border: 0.5px solid black ;    /* Borderni o'zgartirish */
  padding-bottom: 25px;    /* Paddingni o'zgartirish */
  outline: 0.1px solid red;   /* Chegara chiziqlarini o'zgartirish */
  transform: scale(1.2);   /* Hajmini kattalashtirish */
  width: 160px;
  height: 70px;
}
.brend_mahsulot{
    width: 200px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}



 



</style>

{%for i in telefon%}

<div class="horizontal-container">
    <div >

        
    </div>
    <div>
         <img src="D:\images\telefonlarimiz\images1.jpg" alt="bu yerda rasm bor" class="mahsulot_rasm"><br>
         <img src="D:\images\telefonlarimiz\images1.jpg" alt="bu yerda rasm bor" class="mahsulot_rasm"><br>
         <img src="D:\images\telefonlarimiz\images1.jpg" alt="bu yerda rasm bor" class="mahsulot_rasm"><br>
         <img src="D:\images\telefonlarimiz\images1.jpg" alt="bu yerda rasm bor" class="mahsulot_rasm"><br>
         <img src="D:\images\telefonlarimiz\images1.jpg" alt="bu yerda rasm bor" class="mahsulot_rasm"><br>
    </div>
    <img class="img" src="D:\pngtree-hacked-computer-screen-of-a-hooded-hacker-sitting-at-his-computer-image_2914447.jpg" alt="Bu yerda rasm bor">

    <div class="product-detail">
        <h1>{{i.brend}}{{i.nomi}}</h1>

        <div class="product-info">
            <p>Ekran hajmi ......<b>{{i.ekran}}</b></p>
            <p>Xotira maydoni ......<b>{{i.xotira}}</b></p>
            <p>Operati xotira ......<b>{{i.operativ_xotira}}</b></p>
            <h2>Narxi :</h2>
            <h3> <b>{{i.narxi}}  so'm</b></h3>

        </div>
    </div>

    <!-- yangi qo'shilgan qismi -->

</div>
<div style="background-color: #fff;">
    <h1>Bren nomi</h1>
    <div style="">
        <img src="" alt="bu yerda rasm bor" class="brend_mahsulot">
        <img src="" alt="bu yerda rasm bor" class="brend_mahsulot">
        <img src="" alt="bu yerda rasm bor" class="brend_mahsulot">
        <img src="" alt="bu yerda rasm bor" class="brend_mahsulot">
        <img src="" alt="bu yerda rasm bor" class="brend_mahsulot">
        <img src="" alt="bu yerda rasm bor" class="brend_mahsulot">
    >
    </div>
</div>
{% endfor %}
{% endblock content %}